@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap");
body {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.box_2 {
  text-align: center;
  font-style: normal;
  font-size: 200%;
  font-weight: bold;
}
body {
  background-color: palegoldenrod;
}
.hr_color {
  border-style: dashed;
  border-color: coral;
  margin-left: 500px;
  margin-right: 500px;
}
.my_photo {
  display: flex;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.informationbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-indent: 20px;
  text-align: left;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10%;
  margin: 10%;
  font-size: 90%;
}
p {
  margin: 0;
}
.textcon {
  text-indent: 40px;
}

.photoalign {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.explainer {
  text-align: center;
  border: 20px;
}
.align {
  margin: 0 auto;
}
.subtitle {
  font-size: 150%;
}
.sticker_f1 {
  font-size: 400%;
  position: absolute;
  margin: 100px;
}
.sticker_f2 {
  font-size: 400%;
  position: absolute;
  right: -30px;
  margin: 100px;
}
.moreabout {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 50%;
}
