@font-face {
  font-family: "basic";
  font-style: normal;
  src: url(../../session3/Noto_Serif_KR/static/NotoSerifKR-Bold.ttf)
    format("truetype");
}
.box_2 {
  text-align: center;
  font-style: normal;
}
body {
  font-family: basic;
  background-color: palegoldenrod;
}
.box_3 {
  border-style: dashed;
  border-color: coral;
}
.box_4 {
  border-radius: 50%;
  float: left;
  width: 250px;
  height: 250px;
}

.box_5 {
  text-indent: 20px;
  text-align: left;
  width: 290px;
  height: 100px;
  background-color: white;
  border-radius: 10%;
}
.box_6 {
  text-indent: 40px;
}

.box_7 {
  width: 200px;
  height: 200px;
}
.box_8 {
  text-align: center;
}
.box_9 {
  margin: 0 auto;
}
